[submodule "_repos/verl"]
	path = _repos/verl
	url = https://github.com/volcengine/verl.git
	branch = main
[submodule "_repos/LLaMA-Factory"]
	path = _repos/LLaMA-Factory
	url = https://github.com/the-seeds/LLaMA-Factory-Doc.git
	branch = main
[submodule "_repos/VeOmni"]
	path = _repos/VeOmni
	url = https://github.com/ByteDance-Seed/VeOmni.git
	branch = main
[submodule "_repos/ms-swift"]
	path = _repos/ms-swift
	url = https://github.com/modelscope/ms-swift.git
	branch = main
[submodule "_repos/vllm-ascend"]
	path = _repos/vllm-ascend
	url = https://github.com/vllm-project/vllm-ascend.git
	branch = main
[submodule "_repos/triton-ascend"]
	path = _repos/triton-ascend
	url = https://gitcode.com/Ascend/triton-ascend.git
	branch = main
[submodule "_repos/deepspeed"]
	path = _repos/deepspeed
	url = https://github.com/deepspeedai/DeepSpeed.git
	branch = master
